.page-footer
	.container
		.content-ft
			.logo
				a(href="main.html")
					img( src="../../assets/images/janken.png" alt="menu")
			.copy-right
				p © Janken Inc. All rights reserved.
				.contatc-ft
					span Contact
					span 
						a(href="#") contact@janken.network
  
