.header-fix
    .page-header
      .page-header-inner
        // BEGIN LOGO
        .connect-links
          .container
            a(href="#")
              |CONNECT WALLET
        .logo
            a(href="main.html")
                img( src="../../assets/images/janken.png" alt="menu")
    // .page-header
.clearfix