.page-sidebar-wrapper.vetical-menu
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li.menu-active
        h3
          span.title 
            |Collection
        .list-check
          ="\n"
          .form-check
            input#exampleCheck1.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck1" ) Axie  Infinity
          .form-check
            input#exampleCheck2.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck2" ) Axie  Infinity
          .form-check
            input#exampleCheck3.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck3" ) Axie  Infinity
          .form-check
            input#exampleCheck4.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck4" ) Axie  Infinity
      li.menu-active
        h3
          span.title 
            |Collection
        .list-check
          ="\n"
          .form-check
            input#exampleCheck1.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck1" ) Axie  Infinity
          .form-check
            input#exampleCheck2.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck2" ) Axie  Infinity
          .form-check
            input#exampleCheck3.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck3" ) Axie  Infinity
          .form-check
            input#exampleCheck4.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck4" ) Axie  Infinity
          ="\n"
          
// .page-sidebar-wrapper
