.page-sidebar-wrapper.vetical-menu
  .page-sidebar.navbar-collapse.collapse
    .cnt-side-mypage
      .cnt-mypage
          h3 Mypage
          span.cnt-sub janken1gdg6scaqe…
      ul.page-sidebar-mypage(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
        li.menu-active
          a(href="#")
            |My ASSET
        li
          a(href="#")
            |OfferS
          ul
            li
              a(href="#") Received Offers
            li
              a(href="#") Send Offers
        li
          a(href="#")
            |Battle Results
          
// .page-sidebar-wrapper
