#popup-chose-hand.modal.modal-dialog-centered.fade.popup_customer(tabindex='-1',role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') 
          span &times;
      .modal-body
        .btn-chose-popup
          button.btn.btn-chose-nft CHOOSE BIT NFT
        .list-hand.list-title-chose
            .row
              .col-md-4
                .cnt-detail-hand
                  .img-hand
                    img( src="../../assets/images/rock.png" alt="menu")
              .col-md-4
                .cnt-detail-hand
                  .img-hand
                    img( src="../../assets/images/paper.png" alt="menu")
              .col-md-4
                .cnt-detail-hand
                  .img-hand
                    img( src="../../assets/images/scissors.png" alt="menu")
        .list-hand
          .row
            .col-md-3
              .cnt-detail-hand
                .number 
                  span 1
                .img-hand
                  img( src="../../assets/images/rock.png" alt="menu")
            .col-md-3
              .cnt-detail-hand
                .number 
                  span 2
                .img-hand
                  img( src="../../assets/images/paper.png" alt="menu")
            .col-md-3
              .cnt-detail-hand
                .number 
                  span 3
                .img-hand
                  img( src="../../assets/images/scissors.png" alt="menu")
            .col-md-3
              .cnt-detail-hand
                .number 
                  span 4
                .img-hand
                  img( src="../../assets/images/scissors.png" alt="menu")
          
      .modal-footer
        button.btn.btn-chose-nft Send Fight Request

