#popup-chose-win.modal.modal-dialog-centered.fade.popup_customer(tabindex='-1',role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        .title-popup 
          span Result
        .img-win
          img( src="../../assets/images/modal-win.png" alt="menu")
        button.close(type='button', data-dismiss='modal', aria-hidden='true') 
          span &times;
      .modal-body
        .title-cnt
            h3 Min
        .list-hand.list-title-chose
            .row
              .col-md-3
                .cnt-detail-hand
                  .number-text.loose
                    span.number
                      span 1
                    span.name Loose
                  .img-hand
                    img( src="../../assets/images/rock.png" alt="menu")
              .col-md-3
                .cnt-detail-hand
                  .number-text.tie
                    span.number 
                      span 1
                    span.name Tie
                  .img-hand
                    img( src="../../assets/images/paper.png" alt="menu")
              .col-md-3
                .cnt-detail-hand
                  .number-text.win
                    span.number 
                      span 1
                    span.name WIN
                  .img-hand
                    img( src="../../assets/images/scissors.png" alt="menu")
              .col-md-3
                .cnt-detail-hand
                  .number-text.win
                    span.number 
                      span 1
                    span.name WIN
                  .img-hand
                    img( src="../../assets/images/scissors.png" alt="menu")
        .list-hand
          .row
            .col-md-3
              .cnt-detail-hand
                .img-hand
                  img( src="../../assets/images/rock.png" alt="menu")
                .number-text.win
                    span.number
                      span 1
                    span.name WIN
            .col-md-3
              .cnt-detail-hand
                .img-hand
                  img( src="../../assets/images/paper.png" alt="menu")
                .number-text.loose
                    span.number
                      span 1
                    span.name Loose
            .col-md-3
              .cnt-detail-hand
                .img-hand
                  img( src="../../assets/images/scissors.png" alt="menu")
                .number-text.tie 
                    span.number
                      span 1
                    span.name Tie
            .col-md-3
              .cnt-detail-hand
                .img-hand
                  img( src="../../assets/images/scissors.png" alt="menu")
                .number-text.tie 
                    span.number
                      span 1
                    span.name Tie
        
      .modal-footer
        .cnt-popup
          h3 Opponent's 